# =========================
# Python / Django
# =========================
venv/
__pycache__/
**/__pycache__/
*.pyc
db.sqlite3
backend/server/db.sqlite3
*.log

# Django media
media/

# =========================
# Node / React
# =========================
resume-builder/node_modules/
resume-builder/dist/
resume-builder/dist-ssr/

# =========================
# Environment Variables
# =========================
.env

# =========================
# VS Code / OS
# =========================
.vscode/
.DS_Store
Thumbs.db